/*RESET
-----------------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #2c3e50;
}

a {
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}

a:hover {
  color: #f47933;
}

img {
  max-width: 100%;
  border: 0;
}

input,
button,
textarea {
  border: 0;
}

ul {
  list-style-type: none;
}

/* GERAIS
-----------------------------------------*/

.font-zero {
  font-size: 0%;
}

.row,
.section {
  float: left;
  width: 100%;
}

.section {
  padding-top: 72px;
}

.section-header {
  text-align: center;
  margin-bottom: 40px;
}

.section-header .content {
  max-width: 800px;
}

.section-header h1 {
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
  font-size: 3.2rem;
  color: #01c0b5;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section-header h1::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  max-width: 480px;
  background: #01c0b5;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section-header h1::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #01c0b5;
}

.section-header h1 span {
  position: relative;
}

.section-header h1 span::before {
  content: '';
  position: absolute;
  background: #01c0b5;
  bottom: -9px;
  left: 0;
  width: 100%;
  height: 2px;
}

.content {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

/************ DIALOG *************/
.dialog {
  display: none;
  position: fixed;
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 50px 0 20px 0;
}

.dialog-close {
  background: transparent;
  color: #f47933;
  font-size: 1.9rem;
  cursor: pointer;
  position: fixed;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
}

.dialog-close i {
  font-size: 3.2rem;
  position: relative;
  top: 4px;
}

.dialog-body {
  display: none;
  overflow-y: auto;
  width: 90%;
  max-width: 760px;
  max-height: 100%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dialog-body-header {
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #01c0b5;
  line-height: 1.2;
}

.dialog-body-header strong {
  font-size: 3.2rem;
  font-weight: 400;
}

.dialog-body-header span {
  font-size: 2.4rem;
  font-weight: 400;
  color: #01c0b5;
}

.dialog-cols .row {
  margin-bottom: 20px;
  font-size: 1.6rem;
}

.dialog-cols .row p {
  margin-bottom: 10px;
}

.dialog-cols-header {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #01c0b5;
}

.dialog-cols-header span {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: #01c0b5;
  position: relative;
}

.dialog-cols-header span::after {
  content: '';
  background: #01c0b5;
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 100%;
}
