/*RESET
-----------------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #2c3e50;
}

a {
  text-decoration: none;
}

a:hover {
  color: #f47933;
}

img {
  max-width: 100%;
  border: 0;
}

input,
button,
textarea {
  border: 0;
}

/* GERAIS
-----------------------------------------*/

.font-zero {
  font-size: 0%;
}

.row,
.section {
  float: left;
  width: 100%;
}

.section {
  padding-top: 72px;
}

.section-header {
  text-align: center;
  margin-bottom: 40px;
}

.section-header .content {
  max-width: 800px;
}

.section-header h1 {
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
  font-size: 3.2rem;
  color: #01c0b5;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section-header h1::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  max-width: 480px;
  background: #01c0b5;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section-header h1::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #01c0b5;
}

.section-header h1 span {
  position: relative;
}

.section-header h1 span::before {
  content: '';
  position: absolute;
  background: #01c0b5;
  bottom: -9px;
  left: 0;
  width: 100%;
  height: 2px;
}

.content {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}
