/* -------- HEADER -------- */
.header {
  border-top: 6px solid #2c3e50;
}

/* nav-toggle */

#nav-toggle {
  border-bottom-left-radius: 8px;
  position: fixed;
  z-index: 15;
  display: none;
  background-color: #2c3e50;
  padding: 15px;
  top: 0;
  right: 0;
  transition: all 0.4s ease;
}
#nav-toggle span {
  border-radius: 1px;
  height: 2px;
  width: 30px;
  display: block;
  background-color: #fff;
  transition: all 0.4s ease;
}

#nav-toggle span:nth-child(2) {
  margin: 6px 0;
}

#nav-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate3d(6px, 6px, 0);
}

#nav-toggle.active span:nth-child(2) {
  opacity: 0;
}

#nav-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate3d(6px, -5px, 0);
}

/* Header logo */
.header-logo {
  width: 180px;
  padding: 22px 0;
  float: left;
}

/* Header menu */

.header-nav {
  float: left;
  padding: 25px 0;
}

.header-nav ul li {
  display: inline-block;
  margin: 0 3px;
  position: relative;
}

.header-nav ul li a {
  color: #2c3e50;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem; /*0.875rem*/
}

.header-nav ul li a:hover {
  color: #f47933;
}

.header-nav ul li a.active {
  color: #f47933;
}

/* SEARCH */
.header-search {
  position: relative;
  float: right;
  margin: 18px 0;
}

.header-search input::placeholder {
  color: #fff;
}

.header-search input {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  background: #01c0b5;
  padding: 10px;
  border-radius: 8px;
}

/*FIXME removed focus border outline*/
.header-search input:focus,
.header-search button:focus {
  outline: none;
}

.header-search button {
  position: absolute;
  top: 50%;
  right: 8px;
  color: #fff;
  font-size: 2.4rem;
  background: transparent;
  transform: translateY(-50%);
}

/* Redes header */
.header-redes {
  text-align: center;
  margin: 20px 0;
  display: none;
}

.header-redes a {
  color: #fff;
  font-size: 3.2rem;
  margin: 0 10px;
}

/* ------ SECTION AGÊNCIA ------ */
/* Typography*/
.tagline {
  font-size: 1.9rem;
}

.content {
  font-size: 1.6rem;
}

/* Stylings */
.agencia {
  background: #f5f5f5;
  padding: 50px 0;
}

.agencia-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.2rem;
}

.agencia-title strong {
  color: #01c0b5;
  font-size: 3rem;
}

.agencia-item {
  margin-top: 30px;
  text-align: center;
}

.agencia-item-icon {
  background: #01c0b5;
  color: #fff;
  width: 100%;
  padding: 20px;
  font-size: 9.6rem;
  position: relative;
}

.agencia-item-icon::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -22px;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-top: 22px solid #01c0b5;
}

.agencia-item h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 3.2rem;
  margin: 25px 0 5px 0;
  text-transform: uppercase;
}

/* ------ CURIOSIDADES ------ */
.curiosidades {
  padding: 50px 0;
  text-align: center;
  color: #fff;
  background-image: url(../images/agencia-curiosidades-bg-min.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.curiosidades p {
  font-size: 3rem;
  font-weight: 700;
}

.curiosidades ul {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin-top: 20px;
}

.curiosidades ul li span {
  color: #01c0b5;
  font-size: 6rem;
  display: block;
}

/* ---------------------------
 -------- BREAKPOINTS --------
 ----------------------------- 
 */

/* MAX-WIDTH */
@media (max-width: 959.9px) {
  #nav-toggle,
  .header-redes {
    display: block;
  }

  /* Header */
  .header {
    height: 58px;
  }

  /* carousel principal */
  #carousel-principal {
    height: calc(100% - 58px);
  }

  /* Header logo */
  .header-logo {
    max-width: 180px;
    width: 60%;
    padding: 12px 0;
  }

  /* Menu */
  .header-collapse {
    overflow-y: auto;
    position: fixed;
    background: rgba(45, 63, 81, 0.95);
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 15px;
    top: -100%;
    left: 0;
    transition: top 0.4s ease;
  }

  .header-collapse.active {
    top: 0%;
  }

  .header-nav {
    padding: 25px 0;
    float: none;
  }

  .header-nav ul li {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }

  .header-nav ul li a {
    color: #fff;
    font-size: 2.2rem;
  }

  /* SEARCH */
  .header-search {
    max-width: 300px;
    margin: 0 auto;
    float: none;
  }

  .header-search input {
    padding: 15px;
  }
}

/* MIN-WIDTH */
@media (min-width: 480px) {
  /* CURIOSIDADES*/
  .curiosidades ul li {
    float: left;
    width: 50%;
  }
}

@media (min-width: 768px) {
  #carousel-principal .owl-caption {
    padding: 30px;
    font-size: 2.6rem;
  }

  #carousel-principal .owl-caption strong {
    font-size: 4rem;
  }

  /* agencia */
  .agencia-item {
    float: left;
    width: calc((100% - 4%) / 2);
    margin-right: 4%;
  }

  .agencia-item:nth-of-type(2n + 0) {
    margin-right: 0;
  }

  /* CURIOSIDADES*/
  .curiosidades ul li {
    width: 25%;
  }
}

@media (min-width: 960px) {
  /* header */
  .header-nav {
    margin-left: 2%;
  }

  .header-nav ul li a.active::before {
    background: #f47933;
    content: '';
    position: absolute;
    height: 6px;
    width: 100%;
    top: -31px;
    left: 0;
  }

  /* agencia */
  .agencia-item,
  .agencia-item:nth-of-type(2n) {
    width: calc((100% - 8%) / 3);
    margin-right: 4%;
  }

  .agencia-item:nth-of-type(3n) {
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  /* header */
  .header-nav ul li {
    margin: 0 6px;
  }
}

@media (min-width: 1144px) {
  /* header */
  .header-logo {
    width: auto;
  }

  .header-nav ul li a {
    font-size: 1.6rem;
  }
}
@media (min-width: 1280px) {
  /* Header */

  .header-nav ul li {
    margin: 0 8px;
  }

  .header-search {
    width: 260px;
  }
}
