/* -------- HEADER -------- */
.header {
  border-top: 6px solid #2c3e50;
}

/* nav-toggle */

#nav-toggle {
  border-bottom-left-radius: 8px;
  position: fixed;
  z-index: 15;
  display: none;
  background-color: #2c3e50;
  padding: 15px;
  top: 0;
  right: 0;
  transition: all 0.4s ease;
}
#nav-toggle span {
  border-radius: 1px;
  height: 2px;
  width: 30px;
  display: block;
  background-color: #fff;
  transition: all 0.4s ease;
}

#nav-toggle span:nth-child(2) {
  margin: 6px 0;
}

#nav-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate3d(6px, 6px, 0);
}

#nav-toggle.active span:nth-child(2) {
  opacity: 0;
}

#nav-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate3d(6px, -5px, 0);
}

/* Header logo */
.header-logo {
  width: 180px;
  padding: 22px 0;
  float: left;
}

/* Header menu */

.header-nav {
  float: left;
  padding: 25px 0;
}

.header-nav ul li {
  display: inline-block;
  margin: 0 3px;
  position: relative;
}

.header-nav ul li a {
  color: #2c3e50;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem; /*0.875rem*/
}

.header-nav ul li a:hover {
  color: #f47933;
}

.header-nav ul li a.active {
  color: #f47933;
}

/* SEARCH */
.header-search {
  position: relative;
  float: right;
  margin: 18px 0;
}

.header-search input::placeholder {
  color: #fff;
}

.header-search input {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  background: #01c0b5;
  padding: 10px;
  border-radius: 8px;
}

/*FIXME removed focus border outline*/
.header-search input:focus,
.header-search button:focus {
  outline: none;
}

.header-search button {
  position: absolute;
  top: 50%;
  right: 8px;
  color: #fff;
  font-size: 2.4rem;
  background: transparent;
  transform: translateY(-50%);
}

/* Redes header */
.header-redes {
  text-align: center;
  margin: 20px 0;
  display: none;
}

.header-redes a {
  color: #fff;
  font-size: 3.2rem;
  margin: 0 10px;
}

/* ------ SECTION AGÊNCIA ------ */
/* Typography*/
.tagline {
  font-size: 1.9rem;
}

.content {
  font-size: 1.6rem;
}

/* Stylings */
.agencia {
  background: #f5f5f5;
  padding: 50px 0;
}

.agencia-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.2rem;
}

.agencia-title strong {
  color: #01c0b5;
  font-size: 3rem;
}

.agencia-item {
  margin-top: 30px;
  text-align: center;
}

.agencia-item-icon {
  background: #01c0b5;
  color: #fff;
  width: 100%;
  padding: 20px;
  font-size: 9.6rem;
  position: relative;
}

.agencia-item-icon::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -22px;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-top: 22px solid #01c0b5;
}

.agencia-item h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 3.2rem;
  margin: 25px 0 5px 0;
  text-transform: uppercase;
}

/* ------ CURIOSIDADES ------ */
.curiosidades {
  padding: 50px 0;
  text-align: center;
  color: #fff;
  background-image: url(../images/agencia-curiosidades-bg-min.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.curiosidades p {
  font-size: 3rem;
  font-weight: 700;
}

.curiosidades ul {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin-top: 20px;
}

.curiosidades ul li span {
  color: #01c0b5;
  font-size: 6rem;
  display: block;
}

/* ------ EQUIPE ------ */

/* modal */
.dialog-equipe-photo {
  height: 226px;
  overflow: hidden;
  text-align: center;
}

.dialog-equipe-photo img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.dialog-equipe-redes {
  text-align: center;
  margin: 10px 0 20px 0;
}

.dialog-equipe-redes a {
  color: #2c3e50;
  font-size: 3.2rem;
  margin: 0 10px;
}

.dialog-equipe-redes a:hover {
  color: #f47933;
}

.dialog-equipe-habilidades span {
  float: right;
}

.dialog-equipe-habilidades li {
  margin-bottom: 10px;
}

.dialog-equipe-habilidades li div {
  background: #eee;
  height: 13px;
  position: relative;
}

.dialog-equipe-habilidades li div span {
  background: #01c0b5;
  height: 100%;
  position: absolute;
  width: 1%;
}

/* conteúdo */

.equipe {
  background: #f5f5f5;
  padding: 50px 0;
}

.equipe-list {
  text-align: center;
  font-size: 0;
}

.equipe-list li {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  background: #fff;
  width: 100%;
  max-width: 322px;
  display: inline-block;
  border: 1px solid #ccc;
  border-top: 0;
}

/* equipe-foto*/

.equipe-foto {
  height: 240px;
  overflow: hidden;
  position: relative;
}

.equipe-foto img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.equipe-foto-hover {
  z-index: 1;
  position: absolute;
  background: rgba(45, 63, 81, 0.85);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  opacity: 0;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  transform: scale(0.4) rotate(400deg);
}

.equipe-foto-hover div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.equipe-foto-hover span {
  color: #fff;
  font-size: 1.8rem;
  position: relative;
}

.equipe-foto-hover span::before,
.equipe-foto-hover span::after {
  content: '';
  background: #fff;
  position: absolute;
  width: 40px;
  height: 1px;
  top: 50%;
}

.equipe-foto-hover span::before {
  left: -65%; /* FIXME -50% */
}

.equipe-foto-hover span::after {
  right: -65%; /* FIXME -50% */
}

.equipe-foto-hover a {
  color: #fff;
  font-size: 1.4rem;
  background: #f47933;
  padding: 3px 10px;
  position: relative;
  top: 5px;
}

.equipe-foto-hover a:hover {
  background: #ca5818;
}

/* equipe-title */
.equipe-title {
  padding: 10px 0;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.equipe-title::before {
  position: absolute;
  content: '';
  background: #f47933;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  transition: all 0.2s ease-in-out;
}

.equipe-title strong {
  font-size: 1.8rem;
  font-weight: 400;
  position: relative;
}

/* equipe hover */
.equipe-list li:hover .equipe-foto-hover {
  opacity: 1;
  border-radius: 0;
  transform: scale(1);
}

.equipe-list li:hover .equipe-title::before {
  top: 0;
}

.equipe-list li:hover .equipe-title {
  color: #fff;
}

/******** SERVIÇOS ********/
.servicos {
  padding: 50px 0;
  background-image: url(../images/servicos-bg-min.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.servicos-item {
  /*overflow: hidden; border-radius superior */
  background: #fff;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.servicos-item:not(:first-child) {
  margin-top: 30px;
}

.servicos-item header {
  padding: 15px;
}

.servicos-item header i {
  font-size: 4.8rem;
  background: #fff;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
}

.servicos-item header h2 {
  font-size: 2.4rem;
  color: #fff;
  margin-top: 10px;
}

.servicos-item p {
  font-size: 1.4rem;
  margin-top: 10px;
}

.servicos-item p strong {
  font-size: 2.4rem;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

.servicos-item ul li {
  font-size: 1.8rem;
  border-bottom: 2px dotted #ccc;
  padding: 5px 0;
}

.servicos-item a {
  display: inline-block;
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
}

/* design */
.servicos-item.design header,
.servicos-item.design a {
  background: #e04646;
}

.servicos-item.design i {
  color: #e04646;
}

/* estratégia */
.servicos-item.estrategia header,
.servicos-item.estrategia a {
  background: #0091cd;
}

.servicos-item.estrategia i {
  color: #0091cd;
}

/* digital */
.servicos-item.digital header,
.servicos-item.digital a {
  background: #00ad45;
}

.servicos-item.digital i {
  color: #00ad45;
}

/* marketing */
.servicos-item.marketing header,
.servicos-item.marketing a {
  background: #eebb00;
}

.servicos-item.marketing i {
  color: #eebb00;
}

.servicos-item a:hover {
  background: #f47933;
}

/******** TESTEMUNHAS ********/
.testemunhas {
  background: #f5f5f5;
  padding: 50px 0;
}

.testemunhas-photo {
  overflow: hidden;
  width: 60px;
  height: 60px;
  float: left;
  border-radius: 50%;
}

.testemunhas-info {
  float: right;
  width: calc(100% - 70px);
}

.testemunhas-info header {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.testemunhas-info header h2 {
  line-height: 1;
  font-size: 1.9rem;
  max-width: 92%;
  float: left;
}

.testemunhas-info header h2 span {
  font-size: 1.6rem;
  color: #999;
  font-weight: 400;
  display: block;
}

.testemunhas-info header i {
  font-size: 1.6rem;
  color: #999;
  float: right;
  position: relative;
  top: 3px;
}

/******** PORTFOLIO ********/
.portfolio-nav {
  text-align: center;
  margin: 10px 0;
}

.portfolio-nav li {
  display: inline-block;
  margin: 0 5px 10px 5px;
}

.portfolio-nav li a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #2c3e50;
  display: block;
  padding: 2px 10px;
  border: 2px solid #2c3e50;
  border-radius: 3px;
}

.portfolio-nav li a:hover {
  color: #f47933;
  border: 2px solid #f47933;
}

.portfolio-nav li a.active {
  color: #f47933;
  border: 2px solid #f47933;
}

.portfolio {
  position: relative;
  float: left;
  width: 100%;
  display: none;
}

.portfolio.visible {
  display: block;
  animation: animaPortfolio 0.7s ease;
}

@keyframes animaPortfolio {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.portfolio img {
  display: block;
}

.portfolio-hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(45, 63, 81, 0.9);
  color: #fff;
  text-align: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.portfolio-hover > div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio-hover strong {
  font-family: 'Oswald', sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

.portfolio-hover label {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1.6rem;
}

.portfolio-hover a {
  color: #fff;
  font-size: 6.4rem;
  line-height: 1;
}

.portfolio-hover a:hover {
  color: #f47933;
}

.portfolio-hover a i {
  line-height: 1;
}

/* hover */
.portfolio:hover .portfolio-hover {
  opacity: 1;
}

/******** CLIENTES ********/
.clientes {
  background: #f5f5f5;
  padding: 50px 0;
  text-align: center;
}

.clientes p {
  font-size: 3rem;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: 500;
}

.clientes ul li {
  font-size: 8rem;
  background: #fff;
  padding: 5px 20px;
  margin-top: 20px;
  line-height: 1;
  border-radius: 5px;
}

/******** BLOG ********/
.blog {
  background: #f5f5f5;
  padding: 50px 0;
}

.blog .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-item {
  background: #333;
  color: #fff;
  margin-bottom: 30px;
}

.blog-item:last-child {
  margin-bottom: 0;
}

.blog-item-thumb {
  position: relative;
}

.blog-item-thumb img {
  display: block;
}

.blog-item-thumb span {
  position: absolute;
  right: 10px;
  padding: 3px 10px;
  font-size: 1.1rem;
}

.blog-item-thumb span:first-child {
  color: #01c0b5;
  background: rgba(255, 255, 255, 0.8);
  bottom: 0;
}

.blog-item-thumb span:nth-child(2) {
  color: #fff;
  background: #01c0b5;
  top: 100%;
}

.blog-item h2 {
  font-size: 1.6rem;
  margin: 10px 0 5px 0;
  max-width: 88%;
}

.blog-item p {
  font-size: 1.4rem;
  padding-bottom: 10px;
  width: 100%;
}

.blog-link {
  font-size: 1.4rem;
  text-align: right;
}

.blog-link a {
  color: #f47933;
  font-weight: 700;
}

.blog-link a:hover {
  text-decoration: underline;
}

/******** CONTATO ********/
.contato-infos .content,
.contato-form .content {
  max-width: 800px;
}

.contato-infos {
  background: url(../images/contato-bg-min.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 10% 0;
  color: #fff;
  font-size: 2.2rem;
  text-align: center;
}

.contato-infos p {
  font-size: 2.2rem;
}

.contato-infos span {
  background: rgba(255, 255, 255, 0.7);
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  color: #2c3e50;
  display: block;
  margin: 5px auto 0 auto;
}

/* contato form */

.contato-form p {
  text-align: center;
  margin: 50px 0 20px 0;
  font-size: 8rem;
}

.contato-form label {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

.contato-form label input,
.contato-form label textarea {
  float: left;
  width: 100%;
  height: 50px;
  font-size: 1.6rem;
  color: #2c3e50;
  padding: 5px;
  margin-top: 5px;
  border: 2px solid #eee;
}

.contato-form label input[type='checkbox'] {
  width: auto;
  height: auto;
  margin-right: 5px;
}

.contato-form label textarea {
  height: 143px;
}

.contato-form label:nth-child(3) span {
  width: 90%;
  display: inline-block;
}

.contato-form button {
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #fff;
  background: #f47933;
  font-size: 4.1rem;
  line-height: 1;
}

.contato-form button i {
  line-height: 1;
  margin-top: 2px;
}

/******** FOOTER ********/
.footer {
  background: #2c3e50;
  padding: 20px 0;
  margin-top: 20px;
  color: #fff;
}

/*.footer .content {
  max-width: 800px;
}*/

.footer-col {
  text-align: center;
  margin-top: 20px;
}

.footer-redes a {
  color: #fff;
  font-size: 3.2rem;
  margin: 0 10px;
  line-height: 1;
}

.footer-col p {
  margin-top: 20px;
  font-size: 1.2rem;
}

/* ---------------------------
 -------- BREAKPOINTS --------
 ----------------------------- 
 */

/* MAX-WIDTH */
@media (max-width: 959.9px) {
  #nav-toggle,
  .header-redes {
    display: block;
  }

  /* Header */
  .header {
    height: 58px;
  }

  /* carousel principal */
  #carousel-principal {
    height: calc(100% - 58px);
  }

  /* Header logo */
  .header-logo {
    max-width: 180px;
    width: 60%;
    padding: 12px 0;
  }

  /* Menu */
  .header-collapse {
    overflow-y: auto;
    position: fixed;
    background: rgba(45, 63, 81, 0.95);
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 15px;
    top: -100%;
    left: 0;
    transition: top 0.4s ease;
  }

  .header-collapse.active {
    top: 0%;
  }

  .header-nav {
    padding: 25px 0;
    float: none;
  }

  .header-nav ul li {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }

  .header-nav ul li a {
    color: #fff;
    font-size: 2.2rem;
  }

  /* SEARCH */
  .header-search {
    max-width: 300px;
    margin: 0 auto;
    float: none;
  }

  .header-search input {
    padding: 15px;
  }
}

/* MIN-WIDTH */
@media (min-width: 480px) {
  /* CURIOSIDADES*/
  .curiosidades ul li {
    float: left;
    width: 50%;
  }

  /* TESTEMUNHAS */
  .testemunhas-photo {
    width: 100px;
    height: 100px;
  }

  .testemunhas-info {
    width: calc(100% - 120px);
  }

  /* clientes */
  .clientes ul li {
    float: left;
    width: 48%;
    margin: 4% 4% 0 0;
  }

  .clientes ul li:nth-of-type(2n) {
    margin-right: 0;
  }

  /* contato */
  .contato-infos span {
    width: 80%;
  }
}

@media (min-width: 667px) {
  /* equipe */
  .equipe-list li {
    width: 50%;
  }

  .equipe-list li:nth-of-type(2n) {
    border-left: 0;
  }

  /* serviços */
  .servicos-item,
  .servicos-item:not(:first-child) {
    width: calc((100% - 4%) / 2);
    float: left;
    margin: 0 4% 0 0;
  }

  .servicos-item:nth-of-type(2n) {
    margin-right: 0;
  }

  .servicos-item:nth-of-type(1n + 3) {
    margin-top: 4%;
  }

  /* portfolio */
  .portfolio {
    width: 50%;
  }

  /* blog */
  .blog-item {
    width: 48%;
    margin-bottom: 0;
  }

  .blog-item:nth-of-type(1n + 3) {
    margin-top: 4%;
  }
}

@media (min-width: 768px) {
  /* modal */

  .dialog-body {
    padding: 0 20px;
  }
  .dialog-equipe .dialog-cols {
    float: left;
    width: 40%;
  }

  .dialog-equipe .dialog-cols:last-child {
    float: right;
    width: 56%;
  }

  /* carousel principal */
  #carousel-principal .owl-caption {
    padding: 30px;
    font-size: 2.6rem;
  }

  #carousel-principal .owl-caption strong {
    font-size: 4rem;
  }

  /* agencia */
  .agencia-item {
    float: left;
    width: calc((100% - 4%) / 2);
    margin-right: 4%;
  }

  .agencia-item:nth-of-type(2n + 0) {
    margin-right: 0;
  }

  /* CURIOSIDADES*/
  .curiosidades ul li {
    width: 25%;
  }

  /* Clientes */
  .clientes ul li,
  .clientes ul li:nth-of-type(2n) {
    width: calc((100% - 6%) / 3);
    margin: 3% 3% 0 0;
  }

  .clientes ul li:nth-of-type(3n) {
    margin-right: 0;
  }

  /* contato */
  .contato-infos p {
    font-size: 3.2rem;
  }
  .contato-infos span {
    width: 500px;
    font-size: 5.6rem;
  }

  .contato-form {
    margin-bottom: 50px;
  }

  .contato-form form div {
    float: left;
    width: 48%;
  }

  .contato-form form div:last-child {
    float: right;
  }

  /* footer */
  .footer {
    padding-bottom: 30px;
  }

  .footer-col {
    margin: 0;
    padding-top: 30px;
    width: calc(100% / 3);
    float: left;
  }

  .footer-col:first-child {
    text-align: left;
  }

  .footer-col:nth-child(2) {
    text-align: right;
  }

  .footer-col:last-child {
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    top: 15px;
    padding-top: 15px;
    padding-left: 40px;
  }

  .footer-redes {
    float: right;
  }

  .footer-redes a {
    margin: 0;
  }

  .footer-redes a:not(:first-child) {
    margin-left: 20px;
  }
}

@media (min-width: 960px) {
  /* header */
  @keyframes animaHeader {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  .fixed {
    position: fixed;
    background: #fff;
    z-index: 20;
    animation: animaHeader 0.7s ease-in-out 0.4s backwards;
  }

  .header-nav {
    margin-left: 2%;
  }

  .header-nav ul li a.active::before {
    background: #f47933;
    content: '';
    position: absolute;
    height: 6px;
    width: 100%;
    top: -31px;
    left: 0;
  }

  /* agencia */
  .agencia-item,
  .agencia-item:nth-of-type(2n) {
    width: calc((100% - 8%) / 3);
    margin-right: 4%;
  }

  .agencia-item:nth-of-type(3n) {
    margin-right: 0;
  }

  /* equipe */
  /*.equipe-list li:nth-of-type(2n),*/
  .equipe-list li {
    width: 25%;
  }

  /*.equipe-list li:not(:first-child):nth-of-type(1n) {
    border-left: 0;
  }*/

  .equipe-list li:not(:first-child) {
    border-left: 0;
  }

  /* portfolio */
  .portfolio {
    width: calc(100% / 3);
  }
}

@media (min-width: 1024px) {
  /* header */
  .header-nav ul li {
    margin: 0 6px;
  }
}

@media (min-width: 1144px) {
  /* header */
  .header-logo {
    width: auto;
  }

  .header-nav ul li a {
    font-size: 1.6rem;
  }

  /* Clientes */
  .clientes ul li,
  .clientes ul li:nth-of-type(2n),
  .clientes ul li:nth-of-type(3n) {
    width: calc((100% - 15%) / 6);
    margin: 3% 3% 0 0;
  }

  .clientes ul li:nth-of-type(6n) {
    margin-right: 0;
  }

  /* blog */
  .blog-item:nth-of-type(1n + 3),
  .blog-item {
    width: calc((100% - 9%) / 4);
    margin: 0;
  }
}

@media (min-width: 1280px) {
  /* Header */

  .header-nav ul li {
    margin: 0 8px;
  }

  .header-search {
    width: 260px;
  }

  /* serviços */
  .servicos-item,
  .servicos-item:nth-of-type(2n),
  .servicos-item:nth-of-type(1n + 3) {
    width: calc((100% - 9%) / 4);
    margin: 0 3% 0 0;
  }

  /*.servicos-item:nth-of-type(4n) {
    margin-right: 0;
  }*/

  .servicos-item:last-child {
    margin-right: 0;
  }

  /* portfolio */
  .portfolio {
    width: calc(100% / 4);
  }
}

@media (min-width: 1366px) {
  /* portfolio */
  .portfolio {
    width: 20%;
  }
}
